langchain
python-dotenv
pypdf
ipykernal
bs4
arxiv
pymupdf
pymysql
langchain-text-splitters
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub